<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="top.campus.admin.campus.mapper.PlaceMapper">
    <select id="queryPlace" resultType="top.campus.admin.campus.domain.Do.PlaceDo">
        select pk_id,name,detail,picture,update_time from t_place where is_delete = 0
    </select>

    <update id="updatePlace" parameterType="top.campus.admin.campus.domain.dto.PlaceDTO">
        update t_place set name = #{name}, detail= #{detail}, picture = #{picture} where pk_id = #{id}
    </update>
</mapper>